:root {
    /*--------------------
        COLORS
    --------------------*/
    --primary-color: rgb(56,128,241);
    --secondary-color: rgb(48,48,48);

    /*--------------------
        CONTAINERS SIZE
    --------------------*/
    --container-md: 75rem;

    /*--------------------
        COMMON
    --------------------*/
        a {
        text-decoration: none;
        }
        ul {
        display: flex;
        flex-wrap: wrap;
        }
        li {
        list-style: none;
        }

}